/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --theme-menu-color: #353430;
  --text-color: #353430;
  --article-title-color: #353430;
  --section-title-color: #353430;
  --corners-color: #353430;
  --button-hover: #353430;
  --text-color-button: #353430;
}

.theme-light .header__decorative-element {
  display: none;
}

.theme-light .header__theme-menu-button:focus-visible {
  border-block-end-color: #353430;
}

.theme-light .header__theme-menu-button_active {
  outline-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --theme-menu-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --article-title-color: #353430;
    --section-title-color: #353430;
    --corners-color: #353430;
    --button-hover: #353430;
    --text-color-button: #353430;
  }

  .header__decorative-element {
    display: none;
  }

  .header__theme-menu-button:focus-visible {
    border-block-end-color: var(--theme-menu-color);
  }

   .header__theme-menu-button_active {
    outline-color: var(--button-hover);
  }
 
}
