/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  font-family: var(--font-family);
  font-size: var(--font-size-main);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  line-height: 1.3;
  color: var(--text-color);
}

/* === HEADER START === */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  align-items: center;
  justify-items: end;
  min-block-size: 668px;
  padding: var(--padding-base);
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background: transparent;
  color: var(--text-color-button);
  text-transform: lowercase;
  line-height: 18px;
  inline-size: 70px;
  block-size: 23px;
  padding: 2px 13px 5px;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-block-end-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--outline-color);
  outline-offset: -1px;
  pointer-events: none;
}

.header__title {
  position: relative;
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
  font-family: var(--font-family);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -20px;
  justify-self: start;
}

.header__content {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family);
  inline-size: 50%;
}

.title-decor,
.title-decor-article {
  background-color: var(--accent-color);
  color: var(--article-title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
}

.header__decorative-element {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 29px;
  color: var(--accent-color);
  font-size: var(--font-size-main);
  text-transform: uppercase;
}

.header__decorative-element::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  margin-inline-start: 10px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-block-end: 1px solid var(--corners-color);
  border-inline-start: 1px solid var(--corners-color);
  inset-block-end: 20px;
  inset-inline-start: 20px;
}

.decorated-zone::after {
  border-block-start: 1px solid var(--corners-color);
  border-inline-end: 1px solid var(--corners-color);
  inset-block-start: 20px;
  inset-inline-end: 20px;
}
/* === HEADER END === */

/* ===== MAIN CONTENT===== */
.main__content {
  padding-left: var(--padding-base);
  padding-right: var(--padding-base);
}
/* 1. Почему сосредоточиться так сложно */
.section__concentrate {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
  margin-top: 60px;
}

.section__title {
  color: var(--section-title-color);
  font-size: var(--font-size-main);
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  inline-size: 315px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  border: 1px solid transparent;
}

.article__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

/* 2. Что снижает концентрацию внимания? */
.section__concentration-attention {
  margin-top: 80px;
}

.cards-attention {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  border: 1px solid transparent;
}

.card__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

/* 3. Как концентрироваться лучше */
.section {
  display: grid;
  gap: 20px;
}

.section__concentrate-better {
  grid-template-columns: 315px 1fr;
  margin-top: 80px;
}

.card_title_section {
  margin-bottom: 10px;
}

.card_title_regular {
  font-weight: 400;
}

/* ===== GALLERY START ===== */
.section-gallery {
  margin-top: 80px;
}

.gallery__title {
  background-color: var(--accent-color);
  color: var(--article-title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__item {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__sunset {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.gallery__ice-cream {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.gallery__tape {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.gallery__books {
  grid-column: 2;
  grid-row: 2;
}

.gallery__street {
  grid-column: 2 / span 2;
  grid-row: 3;
}
/* ===== GALLERY END ===== */

/* === FOOTER === */
.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-height: 668px;
  padding: var(--padding-base);
  margin-top: 60px;
}

.footer__title {
  font-family: var(--font-family, monospace);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}
/* === FOOTER END === */

/* ==== TABLET≤ 768px ==== */
@media (width >= 768px) and (width < 1024px) {
  .header {
    min-block-size: 1024px;
    padding: 20px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: start;
    margin-block-start: 177px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5px;
  }

  .section__title {
    inline-size: 236px;
  }

  .section__concentrate,
  .section__concentrate-better {
    grid-template-columns: 236px 472px;
    gap: 20px;
  }

  .cards-attention {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer__title {
    margin-bottom: 20px;
    grid-template-rows: 1fr min-content 1fr;
  }
}

/* ==== PHONE ≤ 375px ==== */
@media (width >= 375px) and (width < 768px) {
  .header {
    padding: 10px;
    min-block-size: 668px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: start;
    margin-block-start: 67px;
  }

  .header__title {
    font-size: var(--title-font-size-mobile);
    margin-left: 0;
  }

  .header__content {
    inline-size: 100%;
    margin-block-end: 0;
  }

  .header__decorative-element {
    top: 10px;
    right: 19px;
  }

  .decorated-zone::before {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .decorated-zone::after {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .main__content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section__concentrate,
  .section__concentrate-better {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .section__title {
    inline-size: 100%;
  }

  .cards-attention {
    grid-template-columns: 1fr;
  }

  .section__concentration-attention {
    margin-top: 50px;
    line-height: 1.3;
  }

  .section__concentrate-better {
    margin-top: 40px;
  }

  .section__concentrate-better .section__title {
    margin-bottom: 8px;
  }

  .section__concentrate-better .card_title_section {
    margin-bottom: 8px;
  }

.section-gallery {
    margin-top: 50px;
  }

  .gallery {
    grid-template-columns: 1fr;
  }


  .footer {
    min-height: 668px;
    padding: 10px;
    margin-top: 30px;
  }

  .footer__title {
    line-height: 82.5%;
    font-size: var(--title-font-size-mobile);
  }
}
