/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  font-family: var(--font-family);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-bg-color);
  background-repeat: no-repeat;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 20px;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__decorative-element {
  display: block;
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 48px;
  color: var(--accent-color, #ff0070);
  font-size: var(--font-size, 18px);
  line-height: 25px;
}

.header__decorative-element::after {
  content: "";
  position: absolute;
  inset-inline-start: 42px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  justify-self: start;
  align-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bold, 700);
  line-height: 82.5%;
  font-family: var(--font-family);
  margin: 0;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__content {
  justify-self: end;
  align-self: center;
  font-weight: var(--font-weight-bold, 700);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  inline-size: 491px;
  margin-bottom: 55px;
}

.header__text {
  max-inline-size: 50ch;
  padding: 0;
  margin: 0;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--article-title-color, #000028);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  display: block;
  padding: 0;
  margin: 0;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background: transparent;
  color: var(--accent-color, #ff0070);
  text-transform: lowercase;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  padding: 2px 13px;
  min-inline-size: fit-content;
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover, #ff007066);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--corners-color, #ff0070);
  border-block-start: 1px solid var(--corners-color, #ff0070);
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--corners-color, #ff0070);
  border-block-end: 1px solid var(--corners-color, #ff0070);
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

/* ===== MAIN ===== */
.main__content {
  display: grid;
   padding: 40px 0;
}

.section__title,
.article__text,
.card__text {
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: var(--h2-font-size, 18px);
}

.section {
  display: grid;
  gap: 20px;
}

/* 1. Почему сосредоточиться так сложно */
.section__concentrate {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__title {
  color: var(--section-title-color, #ff0070);
  font-weight: var(--font-weight-bold, 700);
  line-height: 1.3;
}

/* 2. Что снижает концентрацию внимания? */
.section__concentration-attention .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
}

.card {
  display: grid;
  gap: 10px;
}

/* 3. Как концентрироваться лучше */
.section__concentrate-better {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
  align-items: start;
}

.section__concentrate-better .title__text {
  padding: 0;
}

.title__text {
  padding: 20px;
}

.section__concentrate-better .section__content .article {
  display: grid;
  gap: 20px;
}

.section__concentrate-better .subtitle__title.title-decor {
  display: block;
  padding-inline: 8px;
  padding-block: 4px;
}

.article__text,
.card__text {
  line-height: 1.3;
  color: var(--text-color, #f1b2ce);
}

/* ===== GALLERY ===== */
.section-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 220px 0;
}

.gallery__item {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery__sunset {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.gallery__ice-cream {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.gallery__tape {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.gallery__books {
  grid-column: 2;
  grid-row: 2;
}

.gallery__street {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.section-gallery .section__title.title-decor {
  color: var(--article-title-color, #000028);
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  padding: 20px;
  block-size: 100vb;
  min-block-size: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  margin-bottom: 400px;
}

/*==== MEDIA ==== */
@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color);
    margin-inline-start: -15px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    align-self: end;
    justify-self: end;
    margin-bottom: -50px;
  }

  .header {
    padding: 20px;
  }

  .header__decorative-element {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__theme-menu {
    justify-self: end;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  .section__concentrate,
  .section__concentrate-better {
    grid-template-columns: 1fr 2fr;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px;
    min-block-size: 375px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 0;
  }

  .section__concentrate,
  .section__concentrate-better {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .main__content {
    padding: 40px 10px;
    gap: 50px;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;
  }

  .gallery__item {
    grid-column: auto;
    grid-row: auto;
  }

  .footer {
    align-items: center;
    align-self: center;
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
