/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --article-title-color: #000028;
  --section-title-color: #ff0070;
  --corners-color: #ff0070;
  --button-hover: #ff007066;
  --font-family: "IBM Plex Mono", monospace;
  --font-weight-bold: 700;
  --font-size-main: 18px;
}


:root.theme-light {
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --article-title-color: #353430;
  --corners-color: #353430;
  --button-hover: #32312d66;
}
